/* Style sheet for narrower screens */
#wrapper {
 /* Set your own widths, % for fluid, px for fixed */
 width: 100%;
 min-width: 320px;
 max-width: 780px; 
 /* Vertical margins, and auto to center */
 margin: 0 auto;
}
/* Sample styles for 3-column layout */
/* Section containing multiple columns */
.columns {
 display: block;
 width: 100%; 
 /* Border is optional, style to taste */
 border: solid 1px silver;
}
/* Aside columns in columns div */
.columns aside {
 display: block; 
 /* Use any width and padding you like */
 width: 100%;
 padding: 1%;
}
/* Main article in the columns */
#content {
 padding: 1%;
}
/*Optional, style to taste */
#content {
 background-color: #ddd;
 border-right: solid 1px gray;
}
#news {
 background-color: #ddd;
 border-left: solid 1px gray;
}
/* Shrink and float the side column images */
.columns aside img {
 width: 29%;
 margin: 1%;
 float: left;
}
/* Hide side column text */
.columns aside p {
 display: none;
}
/* This ensures that the background for the 
 side column is as tall as the images */
.columns aside {
 overflow: hidden;
}
