

body {

      background-color: #ffffff;

      color: #000000;

      font-family: "Times New Roman", "URW Bookman", serif;

      font-size: 12pt;

}

h2 {

      font-family: "Lucida Handwriting","TSCu_Times", serif;

      font-size: 16pt;

}

h3 {

      font-family: "Comic Sans MS", "TSCu_Comic", serif;

      font-size: 14pt;

}

    #header, #nav, #news, #footer {

          display: none;

    }


